<p-toast></p-toast>

<p-fluid>
    <div class="flex flex-col md:flex-row gap-8 justify-content-center align-items-center min-h-screen">
        <div class="md:w-1/2 mx-auto">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl text-center">Change Password</div>

                <form (ngSubmit)="changePassword()">
                    <div class="flex flex-col gap-2">
                        <label for="current_password">Current Password</label>
                        <input pInputText id="current_password" type="password" class="w-full" [(ngModel)]="current_password" name="current_password" required />
                        @if (submitted && !current_password) {
                        <small class="p-error">Current password is required.</small>
                        }
                    </div>

                    <div class="flex flex-col gap-2 mt-3">
                        <label for="new_password">New Password</label>
                        <input pInputText id="new_password" type="password" class="w-full" [(ngModel)]="new_password" name="new_password" required />
                        @if (submitted && !new_password) {
                        <small class="p-error">New password is required.</small>
                        }
                    </div>

                    <div class="flex flex-col gap-2 mt-3">
                        <label for="new_password_confirmation">Confirm New Password</label>
                        <input pInputText id="new_password_confirmation" type="password" class="w-full" [(ngModel)]="new_password_confirmation" name="new_password_confirmation" required />
                        @if (submitted && !new_password_confirmation) {
                        <small class="p-error">Confirmation is required.</small>
                        }
                        @if (submitted && new_password && new_password_confirmation && new_password !== new_password_confirmation) {
                        <small class="p-error">Passwords do not match.</small>
                        }
                    </div>

                    <button pButton pRipple label="Change Password" icon="pi pi-check" class="mt-3"></button>
                </form>
            </div>
        </div>
    </div>
</p-fluid>