<p-toast></p-toast>
<p-confirmdialog></p-confirmdialog>

<p-toolbar>
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary"
            class="mr-2" (onClick)="openNew()" />
    </ng-template>

    <ng-template #end>
        <label for="active" class="mr-2">Status </label>
        <p-select id="state" [(ngModel)]="active" [options]="dropdownItems"
            optionLabel="name" [optionValue]="'code'"
            (onChange)="onChangeActive($event.value)" placeholder="Select One"
            class="w-full"></p-select>
    </ng-template>
</p-toolbar>

<p-table #dt [value]="lista" [rows]="perPage" [paginator]="true" [lazy]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true" (onPage)="onPageChange($event)" [totalRecords]="total"
    dataKey="id" [(first)]="first"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Products</h5>
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input pInputText type="text" #search placeholder="Buscar..."
                    (keydown.enter)="filterByName(search.value)" (blur)="filterByName(search.value)" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="min-width: 3rem">Id</th>
            <th style="min-width: 10rem"></th>
            <th style="min-width:16rem">Name</th>
            <th style="width:10rem">Image</th>
            <th style="min-width:10rem">Type</th>
            <th style="min-width:5rem">Client Price</th>
            <th style="min-width:5rem">Animation Price</th>
            <th style="min-width:5rem">Waiter Price</th>
            <th style="min-width:5rem">Waiter Commission</th>
            <th style="min-width: 3rem">Active</th>

        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td>{{product.id}}</td>
            <td>
                <p-button icon="pi pi-pencil" severity="info" class="mr-2"
                    (click)="editProduct(product)"
                    pTooltip="Edit Product"></p-button>
                <p-button
                    [icon]="product.is_active ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    [severity]="product.is_active ? 'danger' : 'success'"
                    (click)="changeStatus(product)"
                    [pTooltip]="product.is_active ? 'Inactive' : 'Active'"></p-button>
            </td>
            <td>{{product.description}}</td>
            <td>
                <img [src]="createImageUrl(product.id)"
                    [alt]="product.description" class="product-image-thumbnail"
                    onerror="this.style.display='none'" />
            </td>
            <td>{{product.type}}</td>
            <td>{{product.client_price | currency:'BOB'}}</td>
            <td>{{product.animation_price | currency:'BOB'}}</td>
            <td>{{product.waiter_price | currency:'BOB'}}</td>
            <td>{{product.waiter_commission | currency:'BOB'}}</td>
            <td>
                <p-tag [value]="product.is_active ? 'ACTIVE' : 'INACTIVE'"
                    [severity]="product.is_active ? 'success' : 'danger'"></p-tag>
            </td>

        </tr>
    </ng-template>
</p-table>

>
<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }"
    header="Product Details" [modal]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-col gap-6">
            <div>
                <label for="description"
                    class="block font-bold mb-3">Name</label>
                <input type="text" pInputText id="description"
                    [(ngModel)]="product.description" required autofocus
                    fluid />
                <small class="p-error"
                    *ngIf="submitted && !product.description">Name is
                    required.</small>
            </div>

            <div>
                <label for="type" class="block font-bold mb-3">Type</label>
                <p-select id="type" [options]="productTypes"
                    [(ngModel)]="product.type" optionLabel="name"
                    optionValue="value" placeholder="Select a Type"
                    fluid></p-select>
            </div>
            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select id="status" [options]="statusOptions"
                    [(ngModel)]="product.is_active" optionLabel="name"
                    optionValue="value" placeholder="Select a Status"
                    fluid></p-select>
            </div>

            <div>
                <label for="client_price" class="block font-bold mb-3">Client
                    Price</label>
                <p-inputnumber id="client_price"
                    [(ngModel)]="product.client_price" mode="currency"
                    currency="USD" locale="en-US" fluid></p-inputnumber>
            </div>
            <div>
                <label for="animation_price"
                    class="block font-bold mb-3">Animation Price</label>
                <p-inputnumber id="animation_price"
                    [(ngModel)]="product.animation_price" mode="currency"
                    currency="USD" locale="en-US" fluid></p-inputnumber>
            </div>

            <div>
                <label for="waiter_price" class="block font-bold mb-3">Waiter
                    Price</label>
                <p-inputnumber id="waiter_price"
                    [(ngModel)]="product.waiter_price" mode="currency"
                    currency="USD" locale="en-US" fluid></p-inputnumber>
            </div>
            <div>
                <label for="waiter_commission"
                    class="block font-bold mb-3">Waiter Commission</label>
                <p-inputnumber id="waiter_commission"
                    [(ngModel)]="product.waiter_commission" mode="currency"
                    currency="USD" locale="en-US" fluid></p-inputnumber>
            </div>

            <div class="field" *ngIf="product.id">
                <label>Current Image</label>
                <img [src]="createImageUrl(product.id)"
                    [alt]="product.description" class="product-image-preview"
                    onerror="this.style.display='none'" />
            </div>

            <div class="field">
                <label for="image">{{product.id ? 'Change' : 'Upload'}}
                    Image</label>
                <p-fileupload mode="basic" name="image" url="./"
                    (onSelect)="onUpload($event)" accept="image/*"
                    [maxFileSize]="5000000"></p-fileupload>
            </div>

            <div class="field" *ngIf="newImagePreviewUrl">
                <label>New Image Preview</label>
                <img [src]="newImagePreviewUrl" [alt]="product.description"
                    class="product-image-preview" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cancel" icon="pi pi-times" severity="secondary"
            (click)="hideDialog()"></p-button>
        <p-button label="Save" icon="pi pi-check"
            (click)="saveProduct()"></p-button>
    </ng-template>
</p-dialog>
