<p-table #dt [value]="details" [paginator]="false" [lazy]="true"
    [tableStyle]="{ 'min-width': '35rem' }">
    <ng-template #caption>
        <div class="flex items-center justify-between gap-2">
            <h5 class="m-0">Productos</h5>
            @if(order.status === 'OPEN' && (this.getCurrentUser().id ===
            order.waiter.id )){
            <p-button label="New" icon="pi pi-plus" severity="secondary"
                class="mr-2" (onClick)="openNew()" />
            }
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="min-width: 3rem"> </th>
            <th style="min-width: 2rem">Producto</th>
            <th style="min-width: 2rem">Cantidad</th>
            <th style="min-width: 2rem">Precio</th>
            <th style="min-width: 3rem">Tipo</th>
            <th style="min-width: 3rem">Observación</th>
        </tr>
    </ng-template>
    <ng-template #body let-orderdetail>
        <tr>
            <td>
                @if(order.status === 'OPEN' && (this.getCurrentUser().type ===
                'IN_CHARGE' ||this.getCurrentUser().type === 'IN_CHARGE')){
                <p-button icon="pi pi-pencil" severity="info" class="mr-2"
                    (click)="editDetail(orderdetail)"
                    pTooltip="Edit detail"></p-button>
                <p-button icon="pi pi-pencil" severity="danger" class="mr-2"
                    (click)="deleteDetail(orderdetail)"
                    pTooltip="Delete detail"></p-button>
                }
            </td>
            <td>{{orderdetail.product.description}}
                {{orderdetail.type==='CLIENT'?
                orderdetail.product.client_price:orderdetail.type==='WAITER'?orderdetail.product.waiter_price:orderdetail.product.animation_price}}
                Bs.
            </td>
            <td>{{orderdetail.quantity}}</td>
            <td>
                <div class="text-right">
                    {{orderdetail.price}}
                </div>
            </td>
            <td>{{orderdetail.type}}</td>
            <td>{{orderdetail.observation}}</td>
        </tr>
    </ng-template>
    <ng-template #footer>
        <tr>
            <td></td>
            <td></td>
            <td>
                Total
            </td>
            <td>
                <div class="text-right">
                    {{this.totalpay()}}
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="orderDetDialog" [breakpoints]="{'768px': '100vw'}"
    [style]="{width: '50vw'}" header="Productos" (onHide)="hideDialog()"
    closable="false" modal="true">
    <ng-template pTemplate="content">
        <div class="flex flex-col gap-6">
            <div>
                <label for="type" class="block font-bold mb-3">Type</label>
                <p-select id="type" [options]="types"
                    [(ngModel)]="currentDetail.type" optionLabel="name"
                    optionValue="value" placeholder="Select a Type"
                    fluid></p-select>
            </div>
            <div>
                <label for="type" class="block font-bold mb-3">Product</label>
                <p-select [options]="products.data"
                    [(ngModel)]="product"
                    optionLabel="description" [filter]="true"
                    filterBy="description"
                    [showClear]="true" placeholder="Select a Product" fluid
                    class="w-full md:w-56">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <div>{{ selectedOption.description }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-product #item>
                        <div class="flex items-center gap-2">
                            <div>{{ product.description }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <div>
                <label for="quantity"
                    class="block font-bold mb-3">Quantity</label>
                <p-inputnumber id="client_price"
                    [(ngModel)]="currentDetail.quantity" mode="decimal"
                    fluid></p-inputnumber>
            </div>
            <div>
                <label for="observation"
                    class="block font-bold mb-3">Observation</label>
                <input type="text" pInputText
                    [(ngModel)]="currentDetail.observation" id="observation"
                    fluid />

            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cancel" icon="pi pi-times" severity="secondary"
            (click)="hideDialog()"></p-button>
        <p-button label="Save" icon="pi pi-check"
            (click)="saveDetail()"></p-button>
    </ng-template>

</p-dialog>