<p-table #dt [value]="this.lista" [paginator]="false" [lazy]="true"
    [tableStyle]="{ 'min-width': '35rem' }">

    <ng-template #header>
        <tr>
            <th style="min-width: 2rem">Waiter</th>
            <th style="min-width: 2rem">Profits</th>
            <th style="min-width: 2rem">Commission</th>
        </tr>
    </ng-template>
    <ng-template #body let-commi>
        <tr>

            <td>{{commi.waiter.first_name}}
                {{commi.waiter.last_name}}</td>
            <td>
                <div class="text-right">
                    {{commi.price}} </div>
            </td>
            <td>
                <div class="text-right">
                    {{commi.waiter_comision}} </div>
            </td>
        </tr>
    </ng-template>
    <ng-template #footer>
        <tr>
            <td></td>
            <td>
                <div class="text-right">
                    Total: {{this.getProfitsTotal() }}
                </div>
            </td>
        </tr>
    </ng-template>

</p-table>>