<p-toast></p-toast>
<p-confirmdialog></p-confirmdialog>

<p-toolbar>
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary"
            class="mr-2" (onClick)="openNew()" />
    </ng-template>

    <ng-template #end>
        <div class="flex items-center gap-2">
            <label for="date_from" class="mr-1">Desde:</label>
            <p-datepicker [(ngModel)]="date_from" (onSelect)="getOrders()"
                dateFormat="yy-mm-dd" id="date_from"
                placeholder="Date From"></p-datepicker>
            <label for="date_to" class="mr-1">Hasta:</label>
            <p-datepicker [(ngModel)]="date_to" (onSelect)="getOrders()"
                dateFormat="yy-mm-dd" placeholder="Date To" id="date_to"></p-datepicker>
        </div>
    </ng-template>
</p-toolbar>

<p-table #dt [value]="lista" [rows]="perPage" [paginator]="true" [lazy]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true" (onPage)="onPageChange($event)" [totalRecords]="total"
    dataKey="id" [(first)]="first"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} orders"
    [showCurrentPageReport]="true" (onSort)="onSort($event)">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Orders</h5>
            <div>

                <p-select id="type" [(ngModel)]="type" [options]="orderTypes"
                    optionLabel="name" optionValue="value"
                    (onChange)="getOrders()" placeholder="Select Type"
                    class="w-full"></p-select>
            </div>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="min-width: 3rem">Id </th>
            <th style="min-width: 3rem"></th>
            <th style="min-width: 3rem">Status </th>
            <th style="min-width: 3rem">Waiter Owner</th>
            <th style="min-width: 3rem">Date</th>
            <th style="min-width: 5rem">Final Price</th>
            <th style="min-width: 5rem">Waiter Comision</th>
            <th style="min-width: 3rem">Updated Date</th>
        </tr>
    </ng-template>
    <ng-template #body let-order>
        <tr>
            <td>{{order.id}}</td>
            <td>
                @if(order.status === 'OPEN'){
                <p-button icon="pi pi-pencil" severity="info" class="mr-2"
                    (click)="editOrder(order)" pTooltip="Edit Order"></p-button>
                <p-button icon="pi pi-times-circle" severity="danger"
                    (click)="closeOrder(order)" pTooltip="Close Order"></p-button>
                }
            </td>
            <td>
                <p-tag [value]="order.status"
                    [severity]="getStatusSeverity(order.status)"></p-tag>
            </td>

            <td>{{order.waiter.username}}</td>
            <td>{{order.order_date | date:'yyyy-MM-dd'}}</td>
            <td>{{order.price_final | currency:'USD'}}</td>
            <td>{{order.waiter_comision ?? 0 | currency:'USD'}}</td>
            <td>{{order.updated_at | date:'yyyy-MM-dd'}}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="orderDialog" [style]="{ width: '500px' }"
    header="Order Details" [modal]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-row flex-wrap gap-4">
            <div>
                <label class="block font-bold mb-1">Order ID</label>
                <div>{{ currentOrder.id }}</div>
            </div>
            <div>
                <label class="block font-bold mb-1">Status</label>
                <p-tag [value]="currentOrder.status"
                    [severity]="getStatusSeverity(currentOrder.status || '')"></p-tag>
            </div>
            <div>
                <label class="block font-bold mb-1">Waiter</label>
                <div>{{ currentOrder.waiter.username }}</div>
            </div>
            <div>
                <label class="block font-bold mb-1">Date</label>
                <div>{{ currentOrder.order_date | date:'yyyy-MM-dd' }}</div>
            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Close" icon="pi pi-times" severity="secondary"
            (click)="hideDialog()"></p-button>
    </ng-template>
</p-dialog>
